logging==0.5.1.2
numpy==1.17.1
pandas==1.0.3
matplotlib==3.2.2
ujson==1.35
scipy==1.4.1
rasa==1.10.2
nltk==3.4.5
tensorflow==2.1.0
re==2.2.1
csv==1.0
google-search==1.0.2
typing==3.7.4.3
tweepy==3.8.0
bs4==4.9.0
langdetect==1.0.8
